@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monster Hunter Type 2";
    src: url('fonts/MonsterHunterType2.ttf');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('fonts/RobotoCondensed-VariableFont_wght.ttf');
}

:root {
    /* Fonts */
    --font-title: "Monster Hunter Type 2";
    --font-content: "Roboto Condensed";

    /* Colors */
    --international-klein-blue: #002F9Aff;
    --moonstone: #5D97A0ff;
    --dutch-white: #DFD3ACff;
    --tan: #D2B78Fff;
    --rosy-brown: #D49684ff;

    --color-titlebar:    var(--international-klein-blue);
    --color-background1: var(--dutch-white);
    --color-background2: var(--tan);
    --color-footer:      var(--rosy-brown);
}

body {
    background-color: var(--color-background2);
    font-family: var(--font-content);
}

header {
    background-color: var(--color-titlebar);
}

header > * {
    text-align: center;
}

main {
    flex: 1;
}

footer {
    background-color: var(--color-footer);
}

footer > * {
    text-align: center;
}


h1, h2, h3 {
    font-family: var(--font-title);
}

header > h1 {
    color: var(--dutch-white)
}

h3 > span {
    font-family: var(--font-content);
}


.container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.container > main {
    min-height: 100vh;
    max-width: 70vh;
}

.icon {
    max-width: 20px;
    max-height: 20px;
    object-fit: contain;
}

.monster-container {
    margin-bottom: 10%;
    background-color: var(--color-background1);
}

.monster-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group > input {
    max-width: 100%;
}